<p id="notice"><%= notice %></p>


<%=link_to("LOG Out" , destroy_voter_session_path , :method => :delete) %>

<h1>Listing Candidates</h1>

<table>
  <thead>
   <!--  <tr>
      <th>Name</th>
      <th>Plan</th>
      <th>Loaction</th>
      <th colspan="3"></th>
    </tr> -->
  </thead>

  <tbody>
    <% @candidates.each do |candidate| %>
      <tr>
        <td><%= candidate.name %></td>
       
          <td><%= Voter.where('candidate_id' => candidate.id).length %></td>

      
        <td><%= link_to 'Destroy', candidate, method: :delete, data: { confirm: 'Are you sure?' } %></td>

        <%= current_voter.email %>
        <% if current_voter.candidate == nil %>
          <td>  <%= link_to 'Vote' ,  vote_candidate_path(candidate.id) %> </td>
        <%end%>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Candidate', new_candidate_path %>
